{% extends 'layouts/layout.html' %}
{% load filters %}
{% block title %}
  <title>Registro de usuarios</title>
{% endblock %}
{% block site_heading %}
  <h1>Registro</h1>
  <span class="subheading">Registro de usuario</span>
{% endblock %}
{% block content %}
<div class="alert alert-danger" role="alert">
    {{form.errors}}
</div>
<form action="" method="POST"> 
    {% csrf_token %}

    {% for field in form %}
        <div class="form-floating"> 
            {{field|add_classes:'form-control'}}
            <label for="{{field.name}}">{{field.label}}</label>
        </div>
    {% endfor %}
    <div class="mt-3 mb-4">
    <input class="btn btn-primary text-uppercase" type="submit" value="Registrarse">
    </div>
</form>
{% endblock %}
